.block {
    height: 100px;
    background: steelblue;
}

.inline {
    display: inline;
    background: orange;
}

.inblock {
    height: 100px;
    width: 100px;
    background: orange;
    display: inline-block;
}